
@font-face {
  font-family: 'Press Start 2P';
  src: url('~assets/fonts/PressStart2P.eot');
  src: url('~assets/fonts/PressStart2P.eot?#iefix') format('embedded-opentype'),
      url('~assets/fonts/PressStart2P.woff2') format('woff2'),
      url('~assets/fonts/PressStart2P.woff') format('woff'),
      url('~assets/fonts/PressStart2P.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
